<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TASKER || Info</title>
<link rel="stylesheet" type="text/css" href="../public/css/style.css" />
<script type="text/javascript">
</script>>
</head>
<body>
	<div class="bg_top">
		<div class="header_bg">
			<div class="header"></div>
		</div>
	</div>
	<div class="page_box page_box_bg">
		<div class="home_menu">
			<a href="index.html"></a>
		</div>
		<div class="index_left page_left about_l">
			<div class="about_text">
				<h1>USERNAME</h1>
				<table width="100%" cellpadding="0" cellspacing="0" class="ath">
					<tr>
						<td>age:</td>
						<td>{{age}}</td>
					</tr>
					<tr>
						<td>sex:</td>
						<td>{{sex}}</td>
					</tr>
					<tr>
						<td>email:</td>
						<td>{{email}}</td>
					</tr>
				</table>
				<div class="ttask" style="margin: 60px auto 15px auto;">latest news</div>
				<table width="100%" cellpadding="0" cellspacing="0" class="ath">
					<tr>
						<td><a href="#"></a>
						<td>
					</tr>
				</table>
			</div>
		</div>
		<div class="index_right page_right about_r"></div>
		<div class="page_right_menu">
			<ul>
				<li class="menu_1"><a class="on" href="info.html" title="Info"></a></li>
				<li class="menu_2"><a href="task.html" title="Task"></a></li>
				<li class="menu_5"><a href="event.html" title="Event"></a></li>
				<li class="menu_6"><a href="new.html" title="New"></a></li>
				<li class="menu_4"><a href="about.html" title="About"></a></li>
			</ul>
		</div>
	</div>
	<div class="page_bot"></div>
	<div class="footer">
		<div class="footer_right">
			<p>Copyright&copy;2017 F5.</p>
		</div>
	</div>
</body>
</html>