<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TASKER || New</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body>
	<div class="bg_top">
		<div class="header_bg">
			<div class="header"></div>
		</div>
	</div>
	<div class="page_box page_box_bg">
		<div class="home_menu">
			<a href="index.html"></a>
		</div>

		<div class="index_left page_left contact_l"></div>
		<div class="index_right page_right cp_r">
			<div id="newtask" style="margin:50px auto auto 10px;display:block;">
			<table>
				<tr><td class="newfont">name:</td><td><textarea style="height:60px;width:180px;" class="newarea"></textarea></td></tr>
				<tr><td class="newfont">type:</td><td><textarea style="height:30px;width:180px;" class="newarea"></textarea></td></tr>
				<tr><td class="newfont">description:</td><td><textarea style="height:300px;width:180px;" class="newarea"></textarea></td></tr>
			</table>
			<div class="next_ice9"></div>
			</div>
			<div id="newevent" style="margin:50px auto auto 10px;display:none;">
			<table>
				<tr><td class="newfont">name:</td><td><textarea style="height:60px;width:180px;" class="newarea"></textarea></td></tr>
				<tr><td class="newfont">type:</td><td><textarea style="height:30px;width:180px;" class="newarea"></textarea></td></tr>
				<tr><td class="newfont">description:</td><td><textarea style="height:300px;width:180px;" class="newarea"></textarea></td></tr>
			</table>
			<div class="next_ice9"></div>
			</div>
		</div>
		<div class="page_right_menu">
			<ul>
				<li class="menu_1"><a href="info.html" title="Info"></a></li>
				<li class="menu_2"><a href="task.html" title="Task"></a></li>
				<li class="menu_5"><a href="event.html" title="Event"></a></li>
				<li class="menu_6"><a class="on" href="new.html" title="New"></a></li>
				<li class="menu_4"><a href="about.html" title="About"></a></li>
			</ul>
		</div>
	</div>
	<div class="page_bot"></div>
	<div class="footer">
		<div class="footer_right">
			<p>Copyright&copy;2017 F5.</p>
		</div>
	</div>
</body>
</html>